.flex-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.intro {
  font-weight: 400;
  font-size: 32px;
  color: #000000;
  margin-top: 20px;
}
