.flex-wrapper {
  display: flex;
  justify-content: center;
}

/* 
box shadow from IEX cloud
-2px 0px 12px 0px rgb(247 248 251 / 10%);

Good grey and off-whites to use for background:
background: #bbbcbe;
background: #dcdde1;
background: #f7f8fb;
background: #f1f3f4;
*/

.intro {
  font-weight: 400;
  /* font-size: 0.91em; */
  font-size: 32px;
  color: #000000;
  /* background: #1c8ef9; */
}