#navbar-menu {
  color: #f8f8ff;
  background: #003e29;
  /* fidelity's color: */
  background: #368727;
  /* float: left;
  margin-left: 15px; */
  /* display: flex;
  justify-content: flex-start; */
}

.nav-title {
  width: 130px; 
  /* height: 43px; */
  color: #f8f8ff !important;
  font-family: 'Assistant',
  sans-serif;
  font-weight: bold;
  /* testing: */
  font-size: 25px;
  display: flex;
  align-items: center;
}

/* .nav-logo {
  color: black;
} */

#hamburger {
  outline: #f8f8ff;
  border: 1px solid #f8f8ff;
  background-color: #f8f8ff;
  color: #f8f8ff;
  background: #003e29;
  background: #368727;
}

/* works.. keep?? */
/* #nav-links {
  display: flex;
  justify-content: flex-start;
  width: 100%;
} */

/* test */
/* #responsive-navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
} */

a.navbar-brand {
  margin-right: 50px;
}

a.nav-link {
  color: #f8f8ff !important;
}

a.nav-link.active {
  font-weight: bold;
}