#navbar-nav {
  color: #f8f8ff;
  background: #003e29;
}

/* nav {
  color: #f8f8ff;
}

.navbar-toggler-icon {
  color: #f8f8ff;
}

#responsive-navbar-nav {
  color: #f8f8ff;
}

a .nav-link {
  color: #f8f8ff;
} */